auto_mix_prep>=0.2.0
chromadb>=0.6.3
config>=0.5.1
datasets>=3.5.0
faster_whisper>=1.1.1
flash-attn==2.7.4.post1
huggingface_hub>=0.30.2
json_repair>=0.30.3
matplotlib>=3.10.3
numpy>=2.2.6
pvporcupine>=3.0.5
pyalsaaudio>=0.11.0
pyttsx3>=2.98
pytz>=2025.1
rapidfuzz>=3.13.0
requests>=2.32.3
scipy>=1.15.3
sentence_transformers>=3.4.1
silero_vad>=5.1.2
sounddevice>=0.5.1
soundfile>=0.13.1
spacy>=3.8.4
torch
torchvision
torchaudio
transformers @ git+https://github.com/huggingface/transformers
triton @ https://github.com/triton-lang/triton.git
vllm @ https://github.com/vllm-project/vllm.git
whisper_live>=0.6.3
wikipedia>=1.4.0
dacite>=1.9.2
PyYAML>=6.0.2
